.buttonCls {
    background-color: #C42532;
    color: #fff;
    padding: 8px;
    border: none;
    font-size: 16px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    outline: none !important;
    border-radius: 7px;
  }
  
  .btn:hover {
    color: #fff;
    cursor: pointer;
    background: #c43c47;
  }
  .btn:focus {
    box-shadow: none !important;
  }
  button:disabled,
button[disabled]{
  background-color: #c43c47;
}
.button-wrapper{
  width: 72%;
  margin: 0 auto;
}